## Archivos de usuario y de entorno de Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.userprefs

## Archivos de build
bin/
obj/
[Dd]ebug*/
[Rr]elease*/
artifacts/
dist/
deploy/

## Archivos de lock de .NET antiguos
project.lock.json
project.fragment.lock.json

## Archivos temporales de instalación
*.cab
*.msi
*.msm
*.msp
*.appx
*.appxbundle

## Papelera de reciclaje en red
$RECYCLE.BIN/

## Archivos de log u otros generados
UpgradeLog*.htm
*.log


